* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.brand-image {
    width: 16%;
    position: absolute;
    top: -2.5rem;
    right: 45.5rem;
}

body {
    background-color: #f5f5f5;
}

#banking-form {
    display: flex;
    width: 37%;
    padding: 2.3rem;
    font-size: 0.7rem;
    margin: auto;
    margin-top: 8.5rem;
    flex-flow: row wrap;
    border: 1px;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    width: 100%;
    margin-top: 2rem;

}

form input {
    border-radius: 5px;
    border: 0.5px solid #808080;
    width: 100%;
    padding: 0.9rem;


}

.card-number-card{
    width: 100%;
}
.form-section-title {
    color: #001c72;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

input::-webkit-outer-spin-button,       /*To Remove the arrows from input type number*/
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

.name+div,
.credit-card+div {
    width: 50%;
}

.btn {
    width: 100%;
    padding: 0.8rem;
    margin-top: 1.5rem;
    border-radius: 2%;
    color: #ffffff;
    background-color: #001c72;
    border: 1px;
}

.name,
.credit-card {
    width: 47%;
    margin-right: 3%;
}