* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 81%;
    margin: auto;
}

.designer-name {
    margin-top: 50px;
    font-size: 150px;
    font-weight: 300;
    padding-bottom: 20px;
}

.designer-name span:last-of-type {
    font-weight: bolder;
}

.designer-info {
    font-size: 50px;
    padding-bottom: 5px
}

.designer-info span:nth-child(2) {
    color: #498edf;
}

.designer-email {
    padding: 40px;
    text-align: end;
    font-size: small;
    font-weight: bold;
}


.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.product-section div {
    width: 30%;
    padding-bottom: 30px;
}


.brand-title {
    font-size: 50px;
    text-align: center;
}

.brand-title span:nth-child(2) {
    color: #b6e785;
}

.brand-logos {
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 180px;
    justify-content: space-between;
    width: 75%;
    margin: auto;

}

.brand-logos div {
    width: 10%;

}

footer {
    text-align: center;
}

footer p {
    font-size: small;
    word-spacing: 20px;
}

footer p:last-child {
    font-size: large;
    word-spacing: 0;
}

.social {
    margin: 60px 0px;
    display: flex;
    justify-content: center;

    padding: 10px;
}

.social div {
    width: 3%;
}


@media only screen and (max-width:425px) {

    header {
        width: 90%;
    }

    .designer-info {
        font-size: 30px;
    }

    .designer-name {
        font-size: 50px
    }

    .designer-email {
        font-size: 10px;
        text-align: center;
        padding: 10px;
        order: 3;
    }

    .brand-title {
        font-size: 26px;
    }

    .brand-logos {
        width: 85%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .brand-logos div {
        padding: 30px;
        width: 45%;
    }

    .product-section {
        width: 90%;
    }

    .product-section div {
        width: fit-content;
    }

    .social div {
        width: fit-content;
    }

    footer p {
        font-size: x-small;
    }

    footer p:last-child {
        font-size: 20px;
    }
}