* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

.page-heading {
    font-size: 28px;
    color: #ffffff;
    width: 100%;
    background-color: #372063;
}

.page-title{
    margin: 30px 30px;
    font-weight: 300;
}

.friends-list {
    display: flex;
    margin-top: 70px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.9em;
    width: 100%;

}

.card {
    background-color: #5266af;
    display: flex;
    width: 500px;
    height: 100px;
}

.friends-details {
    margin-top: 28px;
}

.profile {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin: 15px 20px;

}

.name {
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 6px;
}

.friendsEmail {
    font-size: 15px;
    font-weight: 300;
}

div {
    display: inline-block;
}

a:link,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

@font-face {
    font-family: 'Roboto';
    src: url(/assets/fonts/Roboto/Roboto-Light.ttf);
}