$primary-color:#ffffff;
$primary-background-color:#000000;
$designer-color:#498edf;
$brand-title-1: #cecece;
$brand-title-2: #b6e785;

* {         /*Universal Selector*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $primary-background-color;
    color: $primary-color;
    font-family: 'Roboto Condensed', sans-serif;
}

img {       /*Fits image in container and retains its original size*/
    max-width: 100%;
}

header {    /*Header section styling*/
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80.5%;
    margin: auto;
}

.designer-name {
    margin-top: 55px;
    font-size: 150px;
    font-weight: 300;
    margin-bottom: 15px;
}

.last-name {
    font-weight: bolder;
}

.designer-info {
    font-size: 60px;
    margin-bottom: 75px;
	span:nth-child(1),span:nth-child(3){
		color: $brand-title-1;
	}
	span:nth-child(2) {
		color: $designer-color;
	}
}

.designer-email {
    padding: 40px;
    text-align: end;
    font-size: 29px;
    font-weight: bold;
    cursor: pointer;
}       /*Header ends here*/

.product-section {    /*Section containing the product images */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    padding: 100px 0px;
	div {
		width: 30%;
		padding-bottom: 30px;
	}
}

.brand-title {     
    font-size: 65px;
    text-align: center;
	span:nth-of-type(1){
		color:$brand-title-1;
	}
	span:nth-child(2) {
		color: $brand-title-2;
	}
}

.brand-logos {    /*Section containing the brand logos */
    display: flex;
    align-items: center;
    padding: 100px 0px 260px;
    justify-content: space-between;
    width: 75%;
    margin: auto;
	div {
		width: 10%;
	}
}

.social-icons {     /*Social media icons */
    margin: 78px 0px;
    display: flex;
    justify-content: center;
    padding: 20px;
	div {
		width: 3%;
	}
}

.seperator-container{
    display:flex;
    justify-content: center;
}
.left-horizontal-separator{
    width: 30px;
    margin-right: 25px;
    border-bottom: 1px solid $primary-color;
  }

.right-horizontal-separator{
    width: 152px;
    border-bottom: 1px solid $primary-color;
}

footer {    /*Footer Section begins here*/
    text-align: center;
    margin-bottom: 130px;
	p:last-child {
		font-size: large;
		word-spacing: 0;
	}   /*Footer ends here*/
}


@media only screen and (max-width:425px) {      /*Making the page responsive to mobile screens starting from width:425px*/

    header {  /*Lowering the header and its content's font size*/
        width: 90%;
    }

    .first-name{
        font-weight:lighter;
    }
    .designer-name {
        font-size: 43px;
        margin-top: 200px;
    }

    .designer-info {
        font-size: 25px;
        margin:0px;
    }

    .designer-email {
        font-size: 12px;
        font-weight: normal;
        text-align: center;
        padding: 10px;
        order: 3;
    }

    .product-section {  /*Resizing the product section to fit the screen one image at a time*/
        width: 90%;
        padding:68px 0px 47px;
		div {
			width: 100%;
		}
    }

    .brand-title {
        font-size: 26px;
    }

    .brand-logos {      /*Resizing to fit two columns at a time*/
        padding-bottom: 110px;
        width: 85%;
        flex-wrap: wrap;
		div {
			padding: 30px;
			width: 45%;
		}
    }

    .left-horizontal-separator{
        left:-52px;
        width: 20px;
    }
    .right-horizontal-separator{
        width: 110px;
    }

    .social-icons{ 
        margin:25px 0px;
		div {
			width: 100%;
		}
    }

    footer{  /*Footer Section spacing adjustment*/
        margin-bottom: 50px;
		p {
			font-size: x-small;
		}
		p:last-child {
			font-size: 20px;
		}
    }
}